.light-mode {
  background-color: white;
}
.dark-mode {
  background-color: black;
}

.container {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.light {
  color: black;
}

.heading {
  font-family: 'roboto';
  font-weight: 800;
  font-size: 25px;
  color: black;
}

.dark {
  color: white;
}

.button {
  border-radius: 5px;
  padding: 3px;
  margin: 2px;
  color: black;
  font-family: 'roboto';
  text-align: center;
}
